@charset "UTF-8";

@col_main: orange;
@col_font_main: white;

h1 {
    font-size: 30px;
}
h2 {
    font-size: 30px;
}

header {
    color: @col_font_main;
    background: @col_main;
    padding: 5px 25px;
    a {
        color: @col_font_main;
    }
}

#wrapper {
    margin: 0 auto;
    width: 910px;
}

